img {
  height: 100%;
}

.header{
  background:white;
  height: 49px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;

  &__nav{
    margin-top: 0;
    padding: 10px 0 0 0;
  }

  &__nav li{
    color: hsl(212, 16%, 46%);
    display: inline-block;
  }

  &__menu-button {
    background-color: transparent;
    border: none;
    height: 12.5px;
    padding: 0;
  }

  &__menu{
    color: hsl(212, 16%, 46%);
    margin-right: 55px;
  }

  &__logo{
    height: 24.4px;
    width:20.8px;
  }

  &__cart-counter{
    margin-left: 55px;
  }

  &__cart-icon{
    height: 17.7px;
    width: 21px;
  }
}
