img {
  height: 100%;
}

.header__desktop--visibility {
 display: none;
}

.header__mobile--visibility {
  display: block;
}

.header{
  background:white;
  height: 49px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;

  &__nav{
    margin-top: 0;
    padding: 10px 0 0 0;
  }

  &__nav li{
    color: hsl(212, 16%, 46%);
    display: inline-block;
  }

  &__menu-button {
    background-color: transparent;
    border: none;
    height: 12.5px;
    padding: 0;
  }

  &__menu{
    color: hsl(212, 16%, 46%);
    // margin-right: 55px;
    margin-right: 15%;
  }

  &__logo{
    height: 24.4px;
    width:20.8px;
  }

  &__cart-counter{
    // margin-left: 55px;
    margin-left: 15%;
  }

  &__cart-icon{
    height: 17.7px;
    width: 21px;
  }
}


@media (min-width: 700px) {

  .header__mobile--visibility {
    display: none;
  }

  .header__desktop--visibility {
    display: block;
   }

  .header-desktop{
    height: 171px;
    border: solid 1px hsl(0, 0%, 92%);
    background-color: hsl(0, 0%, 100%);

    &__nav{
      margin-top: 0;
      padding: 10px 0 0 0;
    }

    &__nav li{
      color: hsl(212, 16%, 46%);
      display: inline-block;
    }

    &__menu-button {
      background-color: transparent;
      border: none;
      height: 12.5px;
      padding: 0;
    }

    &__menu{
      color: hsl(212, 16%, 46%);
      margin-right: 55px;
    }

    &__container {
      // width: max-content;
      // margin: 0 auto;
      text-align: center;
      // width: 100%;
      width: 40%;
      padding-top: 8px;

      &__logo{
        display: block;
        height: 24.4px;
        width:20.8px;
        margin: 3px auto;
      }

      &__title{
        color:#637488;
        display: block;
        font-size: 27px;
        letter-spacing: 4px;
        text-align: center;
      }
    }

    &__cart{
      margin-left: 87.5%;
      margin-top: -25px;

      &__counter{
        margin-left: 15%;
        color: #637488;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
      }
    }


    &__cart-icon{
      height: 17.7px;
      width: 21px;
    }

    &__top-menu{
      // margin-left: 66%;
      margin-top: -40px;
      width: 100%;
      text-align: right;

      &__input{
        background-color: hsl(0, 0%, 98%);
        border-radius: 3px;
        border: solid 1px hsl(0, 0%, 82%);
        height: 35px;
        padding: 0;
        width: 232px;
        font-size: 20px;
        padding-left: 12px;
        position: absolute;
        opacity: 0.8;

        &__btn{
          width: 35px;
          background: transparent;
          border: none;
          padding-right: -47px;
          position: relative;
          align-content: ri;
          margin-left: 205px;
          margin-top: 8px;
        }

        &__icon{
        fill: hsl(212, 16%, 46%);
        }
      }

    }
  }


  .site-nav {
    width: 90%;
    margin: 70px 0 0;
    padding: 0;
    position: relative;
    text-align: center;

    &__links {
      color: #637488;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      // padding: 3px 40px;
      padding: 3px 2.7%;
      text-decoration: none;
    }

    &__links:first-child {
      color: hsl(353, 61%, 56%);
      font-weight: 501;
      text-decoration: underline;
    }
  }

  a.links--top:nth-child(3) {
    margin-right: 3%;
  }

  .links--top{
    margin-left: 20px;
    color: #637488;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0px;
  }
}

@media (min-width: 850px) {

  .header-desktop__container {
    width: 50%;
  }

  .site-nav__links {
    font-size: 20px;
  }
  .header-desktop__cart__counter {
    font-size: 20px;
  }
}

@media (min-width: 1130px) {
  .header-desktop__container {
    width: 100%;
  }

  .site-nav {
    width: 100%;
  }
  .site-nav__links {
    font-size: 22px;
  }
  .header-desktop__cart__counter {
    font-size: 22px;
    margin-left: 55px;
  }
}
