body{
  background-color: hsl(0, 0%, 98%);
}

.discount{
  background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/stock-photo-beach-toys-in-the-sand-256927513.jpg?v=1582657088");
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.discount__background{
  width: 100%;
  height: 150px;
  text-align: center;
  background: rgba(245, 166, 35, 0.7);
  margin-top: 34px;
}

.discount__title{
  color: #FFF;
  font-size: 20px;
  opacity: 1 !important;
  margin-top: 16px;
  padding-top: 25px;
  margin-bottom: 0px;
}

.discount__text{
  color: #FFF;
  font-size: 45px;
  opacity:  1 !important;
  margin-top: 0px;
  line-height: 35px;
}

//Sailors and pirates kit section

.sailors-and-pirates{
  position: relative;
  height: 250px;
}

.sailors-and-pirates__background{
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
  width: 100%;
}

.sailors-and-pirates__content{
  background-image: linear-gradient(to bottom, hsla(0, 0%, 94%, 0) 12%, hsl(0, 0%, 93%) 81%);
   height: 230px;
   transform: translate(0px, -210px);
   width: 100%;
}

.sailors-and-pirates__content--title{
  font-family: 'Roboto Condensed';
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.004em;
  margin-bottom: 0;
  padding-top: 80px;
  text-align: center;
}

.sailors-and-pirates__content--text{
  font-size: 15px;
  margin: 5px 14px 15px 14px;
  text-align: center;
}

.sailors-and-pirates__content--button{
  background: none;
  border: solid 2px hsl(212, 16%, 46%);
  border-radius: 2px;
  color:hsl(212, 16%, 46%);
  font-size: 17px;
  font-weight: 500;
  height: 40px;
  // margin-left: 7px;
  width: 306px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

//Archeologist section

.archeologist{
  position: relative;
  height: 240px;
}

.archeologist__background{
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
  width: 100%;
}

.archeologist__content{
  background-image: linear-gradient(to bottom, hsla(33, 39%, 58%, 0), hsl(33, 38%, 58%) 77%);
  height:220px;
  transform: translate(0px, -210px);
  width: 100%;
}

.archeologist__content--title{
  font-family: 'Roboto Condensed';
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.004em;
  margin-bottom: 0;
  padding-top: 71px;
  text-align: center;
  color: #FFF;
}

.archeologist__content--text{
  font-size: 15px;
  margin: 5px 14px 15px 14px;
  text-align: center;
  color: #FFF;
}

.archeologist__content--button{
  background-color: hsla(0, 0%, 100%, 0.2);
  border: solid 2px #FFF;
  border-radius: 2px;
  color:#FFF;
  font-size: 17px;
  font-weight: 500;
  height: 40px;
  // margin-left: 7px;
  width: 306px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

//featured-collections

.featured-toys {
  height: 340px;
  background: rgb(240, 240, 240);
  opacity: 1;
  margin-top: -13px;
}

.collection__title {
  font-size: 19px;
  color: #637488;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 22px;
  font-weight: 500;
}

.something__ul{
  display: flex;
  height: 332px;
  margin: 0;
  padding-left: 0;
}

.something__ul-li {
  text-align: left;
  display: flex !important;
  flex-direction: column;
  height: 293px;
}

.product-image{
  // width: 50%;
  // height: auto;
  width: auto;
  height: 55%;
  margin: 0 auto;

}

.collection-slider{

  .slick-track{
    display: flex;
    height: 330px;
  }
  .product-card{
    width: 100%;
  }
  .slick-prev{
    left: 0;
    z-index: 99;
    height: auto;
    width: 30px;
    position: absolute;
    margin-top: 80px;
  }
  .slick-next{
    right: 0;
    z-index: 99;
    height: auto;
    width: 30px;
    position: absolute;
    margin-top: 80px;
    margin-right: 15px;
  }
  overflow: hidden;
}

.prev-arrow {
  margin-top: 80px;
  position: absolute;
  left: 0;
  padding-left: 10px;
}

.next-arrow {
  margin-top: 80px;
  position: absolute;
  right: 0;
  padding-right: 10px;
}


.product-title{
  font-size: 19px;
  color: #637488;
  margin-top: 0;
  margin-left: 7px;
}

.product-price{
  font-size: 22px;
  font-weight: 500;
  color: #99437E;
  margin: 0 0 3px 7px;
}

.product-button{
  background-color: #4a90e2;
  border: none;
  border-radius: 2px;
  color:white;
  font-size: 17px;
  font-weight: 500;
  height: 40px;
  margin: 0 7px 7px;
  // width: 306px;
  width: 95%;
}

//Theme.liquid

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 332px;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  width: 320px;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

//Wooden toys
.wooden-toys {
  height: 150px;
}
.wooden-toys__background{
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.wooden-toys__content {
  height: 69px;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 0%));
  mix-blend-mode: multiply;
  opacity: 0.7;
  transform: translate(0px, -69px);
}

.wooden-toys__content--title{
  font-family: 'Roboto Condensed';
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.004em;
  margin-bottom: 0;
  padding-top: 71px;
  text-align: center;
  color: #FFF;
  text-align: left;
  margin-left: 10px;
  transform: translate(0px, -212px);
}

//Plush toys
.plush-toys {
  height: 150px;
}
.plush-toys__background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.plush-toys__content {
  height: 85px;
  background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 0%));
  mix-blend-mode: multiply;
  opacity: 0.7;
  transform: translate(0px, -85px);
}

.plush-toys__content--title{
  font-family: 'Roboto Condensed';
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.004em;
  margin-bottom: 0;
  padding-top: 71px;
  text-align: center;
  color: #FFF;
  transform: translate(0px, -230px);
  text-align: left;
  margin-left: 10px;
}

//Outdoors
.outdoors {
  height: 150px;
}
.outdoors__background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.outdoors__content {
  background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 0%));
  height: 85px;
  mix-blend-mode: multiply;
  opacity: 0.7;
  transform: translate(0px, -85px);
}

.outdoors__content--title{
  color: #FFF;
  font-family: 'Roboto Condensed';
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.004em;
  margin-bottom: 0;
  margin-left: 10px;
  padding-top: 71px;
  text-align: center;
  text-align: left;
  transform: translate(0px, -230px);
}

//scroll up button
.scroll-up {
  margin-top: 20px;
  text-align: center;
  background-color: hsl(0,0%,98%);
  margin-bottom: 20px;
}

.scroll-up__link{
  text-decoration: none;
  width: 150px;
}

.scroll-up__button {
  background-color: hsl(212, 72%, 59%);
  border-radius: 2px;
  border: none;
  color: #FFF;
  font-size: 16px;
  height: 40px;
  width: 150px;
  padding-left: 28px;
  text-align: left;
}

.scroll-up__icon {
  fill: #FFF;
  height: 20px;
  transform: translate(-46px,5px);
  margin-right: -23px;
}


@media (min-width: 600px) {


  .discount{
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/stock-photo-beach-toys-in-the-sand-256927513_bfeaa15a-e289-4c90-bf9b-4f4c02734508.jpg?v=1583387696");
    margin-top: -435px;
    height: 400px;
    margin-left: 66.5%;
    margin-bottom: 20px;
    background-size: 569px;
    width: 30.5%;

    &__background{
      border-radius: 3px;
      height: 100%;
      width: 100%;
    }

    &__title{
      font-size: 38px;
      letter-spacing: 0px;
      padding-top: 100px;
      height: 50px;
      line-height: 56px;
    }

    &__text{
      font-size: 86px;
      line-height: 82px;
    }
  }

  .sailors-and-pirates{
    width: 672px;
    height: 285px;
    background-color: hsla(212, 16%, 45%, 0.1);
    display: inline-block;
    //margin-bottom: 260px;
    margin-left: 2.5%;

    &__background{
      background-size: 412px;
      height: 284px;
      width: 100%;
      background-position: right top;
    }

    &__content{
      width: 560px;
      height: 285px;
      border-radius: 3px;
      // border: solid 2px hsl(212, 16%, 46%);
      background-image: linear-gradient(to right, hsl(0, 0%, 93%) 50%, hsla(0, 0%, 93%, 0) 85%);
      transform: translate(0px, -305px);
    }

    &__content--title{
      text-align: left;
      width: 45.9%;
      margin-left: 34px;
      font-size: 29px;
      padding-top: 52x;
      padding-top: 50px;
      padding-bottom: 15.3px;
      letter-spacing: -1px;
      margin-top: 21px;
    }

    &__content--text{
      width: 51.4%;
      font-size: 16px;
      letter-spacing: 0.5px;
      margin-bottom: 30px
    }

    &__content--button{
      width: 50.9%;
      height: 50px;
      font-size: 24px;
      border-radius: 3px;
      border: solid 2px hsl(212, 16%, 46%);
      background-color: hsla(212, 16%, 45%, 0.1);
      transform: translate(-92%, 0);
    }


  }

  .archeologist {
    width: 672px;
    height: 285px;
    margin-right: 2.5%;
    margin-left: 1%;
    display: inline-block;

    &__content {
      height: 285px;
      transform: translate(0px, -316px);
      background-image: linear-gradient(to right, hsl(33, 38%, 58%) 32%, hsla(32, 38%, 46%, 0) 78%);
    }

    &__background {
      height: 285px;
      background-position: right top;
      transform: translate(0, -2px);
    }

    &__content--button {
      border-radius: 3px;
      font-size: 24px;
      height: 50px;
      width: 258px;
      margin-left: 5.3%;
      margin-top: 30.2px;
      left: 0;
      transform: translate(0, 0);
    }

    &__content--text {
      font-size: 17px;
      width: 274px;
      height: 57px;
      margin-left: 3%;
      margin-bottom: 0;
    }

    &__content--title {
      text-align: left;
      font-size: 29px;
      letter-spacing: -1px;
      padding-top: 52px;
      margin-left: 52px;
    }
  }

  // .featured-toys{
  //   background: transparent;
  //   margin-top: -180px;
  // }

  // .collection__title{
  //   text-align: left;
  //   font-size: 32px;
  //   margin-bottom: 25px;
  // }

  // .something__ul{
  //   height: 471px;
  // }

  // .something__ul-li {
  //   outline: 1px solid;
  //   width: 324px;
  //   height: 470.5px;
  //   margin: auto;
  //   width: 324px;
  //   height: 470.5px;
  //  }







   .wooden-toys{
    margin-top: 40px;
    margin-left: 2.5%;
    display: inline-block;
    height: 320px;

    &__background{
      width: 325px;
      height: 320px;
      background-size: 325px;
      background-size: 346px;
      background-repeat: repeat;
    }

    &__content{
      height: 171px;
      transform: translate(0px, -171px);
    }

    &__content--title{
      font-size: 50px;
      width: 191px;
      transform: translate(0px, -420px);
    }

   }

   .plush-toys{
     display: inline-block;
     width: 673px;
     height: 320px;
     transform: translate(0,-146px);
     margin-left: 20px;
     margin-right: 20px;

     &__background{
       height: 320px;
     }

     &__content--title{
      font-size: 50px;
      transform: translate(0px, -275px);

     }
   }

   .outdoors{
     display: inline-block;
     height: 320px;
     width: 325px;
     transform: translate(0,-146px);

     &__background{
      height: 320px;
     }

     &__content--title{
      font-size: 50px;
      transform: translate(0px, -275px);
     }
   }

}
