//footer

.footer {
  background-color: hsl(0,0%,100%);
  border: solid 1px hsl(0,0%,92%);
  color: hsl(212,16%,46%);
  text-align: center;

  &__menu{
    display: none;
  }

  &__desktop__container__logo{
    display: none;
  }
}

.footer a {
  text-decoration: none;
}

.footer__title {
  font-size: 16px;
}

.footer__button {
  background: none;
  border-radius: 3px;
  border: solid 2px hsl(208, 10%, 50%);
  height: 33px;
  margin: 5px 1px;
  width: 98px;
}

.footer__button--icon {
  fill: hsl(208, 10%, 50%);
  height: 15px;
}

.footer__input{
  background-color: hsl(0, 0%, 98%);
  border-radius: 2px;
  border: solid 2px hsl(0, 0%, 82%);
  font-size: 15px;
  height: 35px;
  margin-bottom: 30px;
  padding-left: 20px;
  width: 280px;
}



@media (min-width: 600px) {

  .footer {
    padding-bottom: 137px;

    &__container-social{
      display: inline-block;

    }

    &__button{
      width: 93px;
      margin-right: 25px;
    }

    &__title{
      margin-top: 17.3%;
      font-size: 22px;
    }

    &__text{
      font-size: 22px;
    }

    &__input{
      font-size: 19px;
      margin-bottom: 50px;
    }

    &__desktop__container__logo{
      display: inline;
      margin: 0 7.1%;
    }

    &__desktop__container__logo > img:nth-child(1) {
      // height: 50px;
      // width: 50px;
      height: 80px;
      width: auto;
    }

    &__email{
      display: inline-block;
    }

    &__menu{
      padding-left: 0;
    }

    &__menu li{
      display: inline-block;
      margin: 0 28.5px;
      font-size: 22px;

    }

    &__menu a{
      color: #637488;
    }
  }

}
