//footer

.footer {
  background-color: hsl(0,0%,100%);
  border: solid 1px hsl(0,0%,92%);
  color: hsl(212,16%,46%);
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer__title {
  font-size: 16px;
}

.footer__button {
  background: none;
  border-radius: 3px;
  border: solid 2px hsl(208, 10%, 50%);
  height: 33px;
  margin: 5px 1px;
  width: 98px;
}

.footer__button--icon {
  fill: hsl(208, 10%, 50%);
  height: 15px;
}

.footer__input{
  background-color: hsl(0, 0%, 98%);
  border-radius: 2px;
  border: solid 2px hsl(0, 0%, 82%);
  font-size: 15px;
  height: 35px;
  margin-bottom: 30px;
  padding-left: 20px;
  width: 280px;
}
