<div>
  <noscript>
    <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}" {% if section.settings.image %} {% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}" {% endunless %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};" {% endif %}></div>
  </noscript>
  <div class="treasure-island" id="hero">
    <div class="treasure-island__background"></div>
    <div class="treasure-island__content">
      <p class="treasure-island__content--title">TREASURE ISLAND</p>
      <p class="treasure-island__content--text">Your kid is an adventurer, ennui, church-key organic small batch kitsch
                        selfies ugh PBR
                        Godard.</p>
      <button class="treasure-island__content--button">CHECK IT OUT!</button>
    </div>
  </div>

</div>

<style>
</style>
