<div class="discount">
  <div class="discount__background">
    <p class="discount__title">SEASON CLERANCE</p>
    <p class="discount__text">ALL KITS<br>50% OFF</p>
  </div>
</div>

<div class="sailors-and-pirates">
  <div class="sailors-and-pirates__background"></div>
  <div class="sailors-and-pirates__content">
    <p class="sailors-and-pirates__content--title">SAILORS & PIRATES KIT</p>
    <p class="sailors-and-pirates__content--text">This awesome kit includes ennui, church-key organic small batch kitsch
                              selfies ugh PBR Godard.</p>
    <button class="sailors-and-pirates__content--button">SEE KIT</button>
  </div>
</div>

<div class="archeologist">
  <div class="archeologist__background"></div>
  <div class="archeologist__content">
    <p class="archeologist__content--title">ARCHEOLOGIST KID</p>
    <p class="archeologist__content--text">This awesome kit includes ennui, church-key organic small batch kitsch selfies ugh PBR Godard.</p>
    <button class="archeologist__content--button">SEE KIT</button>
  </div>
</div>

<style>
  .discount {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/stock-photo-beach-toys-in-the-sand-256927513.jpg?v=1582657088");
  }

  .sailors-and-pirates__background {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/shutterstock_pirates.jpg?v=1582733605");
  }

  .archeologist__background {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/archeologist.jpg?v=1582735568");
  }
</style>
