<div class="discount">
  <div class="discount__background">
    <p class="discount__title">SEASON CLERANCE</p>
    <p class="discount__text">ALL KITS<br>50% OFF</p>
  </div>
</div>

<style>
  .discount {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/stock-photo-beach-toys-in-the-sand-256927513.jpg?v=1582657088");
  }
</style>
