<div class="discount">
  <div class="discount__background">
    <p class="discount__title">SEASON CLERANCE</p>
    <p class="discount__text">ALL KITS<br>50% OFF</p>
  </div>
</div>

<div class="sailors-and-pirates">
  <div class="sailors-and-pirates__background"></div>
  <div class="sailors-and-pirates__content">
    <p class="sailors-and-pirates__content--title">SAILORS & PIRATES KIT</p>
    <p class="sailors-and-pirates__content--text">This awesome kit includes ennui, church-key organic small batch kitsch
                                                                                    selfies ugh PBR Godard.</p>
    <button class="sailors-and-pirates__content--button">SEE KIT</button>
  </div>
</div>

<div class="archeologist">
  <div class="archeologist__background"></div>
  <div class="archeologist__content">
    <p class="archeologist__content--title">ARCHEOLOGIST KID</p>
    <p class="archeologist__content--text">This awesome kit includes ennui, church-key organic small batch kitsch selfies ugh PBR Godard.</p>
    <button class="archeologist__content--button">SEE KIT</button>
  </div>
</div>

<div class="featured-toys" style="height: 302px;"></div>

<div class="wooden-toys">
  <div class="wooden-toys__background"></div>
  <div class="wooden-toys__content"></div>
  <p class="wooden-toys__content--title">WOODEN TOYS</p>
</div>

<div class="plush-toys">
  <div class="plush-toys__background"></div>
  <div class="plush-toys__content"></div>
  <p class="plush-toys__content--title">PLUSH TOYS</p>
</div>

<div class="outdoors">
  <div class="outdoors__background"></div>
  <div class="outdoors__content"></div>
  <p class="outdoors__content--title">OUTDOORS</p>
</div>

<div class="scroll-up">
  <a class="scroll-up__link" href="#header">
    <button class="scroll-up__button">SCROLL UP
    </button>
    <svg class="scroll-up__icon" id="Layer_1" style="enable-background:new 0 0 512.01 512.01;" version="1.1" viewbox="0 0 512.01 512.01" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
      <path d="M505.755,358.256L271.088,123.589c-8.341-8.341-21.824-8.341-30.165,0L6.256,358.256c-8.341,8.341-8.341,21.824,0,30.165
                                                                                          s21.824,8.341,30.165,0l219.584-219.584l219.584,219.584c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251
                                                                                          C514.096,380.08,514.096,366.597,505.755,358.256z"/>
    </svg>
  </a>
</div>

<style>
  .discount {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/stock-photo-beach-toys-in-the-sand-256927513.jpg?v=1582657088");
  }

  .sailors-and-pirates__background {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/shutterstock_pirates.jpg?v=1582733605");
  }

  .archeologist__background {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/archeologist.jpg?v=1582735568");
  }

  .wooden-toys__background {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/wooden.jpg?v=1582736880");
  }

  .plush-toys__background {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/Plush.jpg?v=1582737942");
  }

  .outdoors__background {
    background-image: url("//cdn.shopify.com/s/files/1/0329/8453/1081/files/outdoors.jpg?v=1582737939");
  }
</style>
