.background{
  height: 1821px;
}

@media (min-width: 700px) {
  .background{
    background-color: #fafafa;
    height: 1485px;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    width: 100%;
  }
  .index-section {
    height: 1695px;
  }
}

@media (min-width: 1220px) {
  .background{
    height: 1692px;
  }
}
