@media (min-width: 600px) {
  .background{
    background-color: #fafafa;
    height: 1692px;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    width: 100%;
  }
  .index-section {
    height: 1695px;
  }
}
