<div data-controller="hello">
  <label for="name"><strong>What is your name:</strong></label>
  <input id="name" data-target="hello.name" type="text">
  <button data-action="click->hello#greet">Greet</button>
</div>
