<div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="hero">
          {{ page.content }}
          <div class="hero__image">

          </div>
          <div class="hero__description">
            <p class="hero__description-title">LET THE KIDS BE KIDS AGAIN</p>
            <p class="hero__desciption-body">We attempt to bring back the good old 
                days when children would play fusce vehicula dolor arcu, sit amet 
                blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper
                 metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices.
                  Donec euismod scelerisque ligula</p>
          </div>
          <div class="hero__gradient"></div>
        </div>
        <div class="our-story">
            <p class="our-story__title">OUR STORY</p>
            <div class="our-story__description">
              <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue.
                   Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. 
                   Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis.</p>
  
                    <p>Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. 
                      Donec id dignissim nuncvenenatis facilisis dolor.. Donec elit ante, eleifend a dolor et,
                       venenatis facilisis dolor. In feugiat orci odio, sed lacinia sem elementum quis.</p>
                     
                    <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue.
                      Cras ullamcorper bibendum bibendum.
                      Duis tincidunt urna non pretium porta.</p>
                     
                    <p>Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis.
                      Nunc eu tellus tortor. Etiam at</p>
                     
                    <p>condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. 
                     Donec elit ante, eleifend a dolor et, venenatis facilisis.</p>
            </div>
        </div>
        <div class="next-story">
            <p class="next-story__title">LOREM IPSUM DOLOR SUM</p>
            <p class="next-story__body">
                 Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.
                  Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus 
                  lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. 
                  Etiam gravida mollis tortor quis porttitor. </p>
        </div>
        <img class="img-in-next-story" src="" alt="">
        <div class="desktop-images">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>
        {% include 'scroll-up' %}
      </div>
    </div>
  </div>